body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: flex;
}

.menu-mobile {
    display: none;
}

.menu {
    background-color: #1b3442;
    height: 100%;
    width: 20%;
    display: flex;
    position: fixed;
    flex-direction: column;
    transition: .5s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close-menu-icon {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
}

.menu-header {
    width: 100%;
    text-align: center;
}

.menu-header-pic {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin: 2em;
    background-position: center center;
  background-repeat: no-repeat;
}

.menu-header-text {
    color: white;
    margin-top: 0;
    font-size: 1.5em;
}

.menu-body {
    width: 100%;
    height: 100%;
    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-ul {
    width: 100%;
    padding: 0;
}

.menu-ul li {
    color: white;
    text-align: center;
    padding: .75em 0;
    list-style-type: none;
}

.menu-ul li:hover {
    background-color: #1b3442;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.menu-ul-li-checked {
    background-color: #1b3442;
}

.icons-container {
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.menu-icons {
    width: 3em;
    height: 3em;
    margin: 0 15px;
}

a {
    color: white;
    text-decoration: none;
    margin: 1.5em 0;
}

.data-body {
    height: 100%;
    width: 80%;
    top: 21em;
    left: 20%;
    position: relative;
    
}

.data{
    width: 80%;
    background-color: #fffe;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 4px -1px rgba(0,0,0,.2),0 2px 5px 0 rgba(0,0,0,.14),0 3px 10px 0 rgba(0,0,0,.12);
    border-radius: 20px;
    height: auto;
    margin-bottom: 2%;
    margin-top: 4%;
}

.data-index{
    width: 80%;
    background-color: #fffe;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 4px -1px rgba(0,0,0,.2),0 2px 5px 0 rgba(0,0,0,.14),0 3px 10px 0 rgba(0,0,0,.12);
    border-radius: 20px;
    height: auto;
    margin-top: 22%;
}

.data-title{
    text-align: center;
    padding-top: 4%;
    color: #1b3442;
    font-size: 1.8em;
    margin: 0;
}

.data-information{
    margin-left: 4%;
}

.summary{
    color: #1b3442;
    font-size: 1.5em;
    text-align: justify;
    padding-right: 1.5em;
    font-style: italic;
    text-indent: 2.5em;
    line-height: 1.5em;

}

.job-list-item{
    list-style-image: url("images/right-arrow.png");
    color: #1b3442;
    font-size: 1.5em; 
    margin-top: 4%; 
}

.android-list-item{
    list-style-image: url("images/android.png");
    color: #1b3442;
    font-size: 1.2em; 
    margin-top: 4%; 
}   

.web-list-item{
    list-style-image: url("images/www.png");
    color: #1b3442;
    font-size: 1.2em;  
    margin-top: 4%; 
}

.dotnet-list-item{
    list-style-image: url("images/dotnet.png");
    color: #1b3442;
    font-size: 1.2em;  
    margin-top: 4%; 
}

.icon-link{
    margin-left: 2%;
}

form {
    margin: 0;
}

.text-form{
    width: 70%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #1b3442;
    border-radius: 4px;
    margin-left: 15%;
    margin-bottom: 2%;
    outline: none;
    color: teal;
    font-family: 'Roboto';
    font-size: 0,8em;
  }

textarea.text-form {
    padding: 0.5em 20px;
    color: black;
}

  .text-form:focus{
    box-shadow: 0 5px 4px -1px rgba(0,0,0,.2),0 2px 5px 0 rgba(0,0,0,.14),0 3px 10px 0 rgba(0,0,0,.12);
    border: 2px solid teal;
    -webkit-transition: border 500ms linear, box-shadow 200ms linear;
    -ms-transition: border 500ms linear, box-shadow 200ms linear;
    transition: border 500ms linear, box-shadow 200ms linear;
  }

  .label-form{
      margin-left: 15%;
      color: #1b3442;
      font-weight: bold;
      font-size: 1em;
      padding-top: 5%;
  }

@import url('https://fonts.googleapis.com/css?family=Mukta:700');

 button {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
	 border: 0;
	 vertical-align: middle;
	 text-decoration: none;
	 background: transparent;
	 padding: 0;
	 font-size: inherit;
	 font-family: inherit;
}



 button.email {
	 width: 12rem;
	 height: auto;
}
 button.email .circle {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: relative;
	 display: block;
	 margin: 0;
	 width: 3rem;
	 height: 3rem;
	 background: #1b3442;
	 border-radius: 1.625rem;
}
 button.email .circle .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #fff;
}
 button.email .circle .icon.arrow {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 left: 0.625rem;
	 width: 1.125rem;
	 height: 0.125rem;
	 background: none;
}
 button.email .circle .icon.arrow::before {
	 position: absolute;
	 content: '';
	 top: -0.25rem;
	 right: 0.0625rem;
	 width: 0.625rem;
	 height: 0.625rem;
	 border-top: 0.125rem solid #fff;
	 border-right: 0.125rem solid #fff;
	 transform: rotate(45deg);
}
 button.email .button-text {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 0.75rem 0;
	 margin: 0 0 0 1.85rem;
	 color: #1b3442;
	 font-weight: 700;
	 line-height: 1.6;
	 text-align: center;
	 text-transform: uppercase;
}



 button:hover .circle {
	 width: 100%;
}
 button:hover .circle .icon.arrow {
	 background: #fff;
	 transform: translate(1rem, 0);
}
 button:hover .button-text {
	 color: #fff;
}
 @supports (display: grid) {

	 #container {
		 grid-area: main;
		 align-self: center;
         justify-self: center;
         margin-left: 42%;
         padding-bottom: 5%;
         margin-top: 2%;
	}
}

/* MEDIA QUERIES - RESPONSIVE */

@media screen and (min-width: 1500px) {
    .menu-ul {
        padding: 30px 0;
    }
}

@media screen and (max-width: 950px) {
    .menu-header-pic {
        width: 7em;
        height: 7em;
        
    }
}

@media screen and (max-width: 768px) {
    .menu-mobile {
        display: block;
        width: 100%;
        position: fixed;
        top: 0px;
        background-color: #1b3442;
        z-index: 1;
    }

    .menu-icon {
        font-size: 2em;
        color: white;
        margin-left: 3px;
    }

    .hamburger-button {
        cursor: pointer;
    }

    .menu {
        z-index: 2;
        width: 100%;
        position: fixed;
        left:-100%;
    }

    .close-menu-icon {
        display: block;
    }

    .menu-visible {
        left: 0;
    }

    .data {
        width: 110%;
        margin-top: 22%;
        left: 0px;
        margin-left: 40%;
    }

    
    .data-index{
        width: 110%;
        
        left: 0px;
        margin-left: 40%;
        margin-top: 250%;
    }

}