body{
    background-color: #eeeeee;
    display: inline;
    font-family: Arial, Helvetica, sans-serif
}

.menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    background-color: #1b3442;
    /* box-shadow: 0 22px 4px -1px rgba(0,0,0,.2),0 14px 5px 0 rgba(0,0,0,.14),0 15px 10px 0 rgba(0,0,0,.12); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.data{
    width: 80%;
    height: 100%;
    left: 20%;
    position: absolute;
    top: 0px;
}

.data-first{
    width: 80%;
    background-color: #fffe;
    margin-left: 10%;
    box-shadow: 0 5px 4px -1px rgba(0,0,0,.2),0 2px 5px 0 rgba(0,0,0,.14),0 3px 10px 0 rgba(0,0,0,.12);
    border-radius: 20px;
    margin-top: 4%;
}

.data-first-title{
    text-align: center;
    padding-top: 2%;
    color: #1b3442;
    padding-bottom: 60%;
}

.menu-header{
    width: 100%;
    height: 35%;
    text-align: center;
    /* background-color: cyan; */
}

.menu-header-pic{
    width:12em;
    height: 12em;
    border-radius: 50%;
    margin-top: 2em;
}

.menu-header-text{
    color: white;
    margin-top: 0.5em;
}

.menu-body{
    width: 100%;
    height: 65%;
    position: absolute;
    background-color: teal;
    /* background-color: darkgreen; */
}

.menu-ul{
    position: relative;
    /* background-color: teal; */
    margin-top: 5em;
    left: 0px;
    width: 100%;
    padding: 0px;
}

.menu-ul li{
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 0.75em;
    padding-top: 0.75em;
    width: 100%;
    left: 0%;
}

.menu-ul-li-checked{
    background-color: #1b3442;
}

.menu-icons{
    width: 3em;
    height: 3em;
    margin-top: 10em;
    margin-left: 15%;
    position: relative;
}

a{
    color: white;
    text-decoration: unset;
}